@use "./base.scss";

// put your custom CSS here!

html {
  font-family: Vazirmatn, sans-serif !important;
}

.breadcrumb-element p {
  margin: 0 0.5rem 0 0;
  padding: 0;
  line-height: normal;
}

button#explorer .fold {
  opacity: 0.8;
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
  transition: transform 0.3s;
}

.content-meta[show-comma="true"] > span:not(:last-child) {
  margin-left: 8px !important;
  margin-right: 0px !important;
}

.tags {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.folder-icon {
  margin-right: 0px !important;
  margin-left: 5px !important;
}

#explorer-content ul {
  padding-right: 0.7rem !important;
  padding-left: 0px !important;
}

z

li:has(> .folder-outer:not(.open)) > .folder-container > svg {
  transform: rotate(90deg) !important;
}

div.search.mobile-only {
  padding-right: 10px !important;
}

code {
  direction: ltr !important;
}

h2#footnote-label {
  visibility: hidden;
}

h2#footnote-label::after {
  content: "پانوشت‌ها";
  visibility: visible;
  display: block;
}

blockquote {
  border-right: 3px solid var(--secondary);
  border-left: none;
  margin: 1rem 0;
  padding-right: 1rem;
  padding-left: none;
  transition: border-color 0.2s;
}

